.ff-addon1{
    top: 100px;
    right: 50px;
    width: 200px;
    height: auto;
    color:grey;
    z-index: 9999;
    position: fixed;
    padding-top:20px;
    border: 11px solid #eaeac7;
    border-top-width: 37px;
    background-color: white;
    border-top-left-radius: 28px;
    outline-style: groove;
}
.ff-addon1 .image{
    position: absolute;
    top: -72px;
    right: -39px;
}
.ff-addon1 ul {

}
.ff-addon1 li{
    padding:5px 0 0 10px;
    width: 95%;
}
.ff-addon1 li div{
    display: inline-block;
    width: 86%;
}
.ff-addon1 li span{
    position:absolute;
    right:12px;
    font-weigth:12px;
    color:white;
    background-color:#ff6a6a;
    padding: 0px 4px 0px 4px;
}
.ff-addon1 li:nth-child(even){
background-color: aliceblue;
    }
.ff-addon1 li:hover{
    background-color: beige;
}
